.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.current {

      margin: 2em;
      display: table;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      color: #000000;
      border: none;
}

.footerContainer {
  width:100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--dark-shadow);
  gap: 50px;
  padding: 60px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  background: var(--dark-shadow);
  align-items: center;
  justify-content: center;
  width:180%;
}

.footerBlurb{
  display: grid;
  margin: auto;
  height: auto;
  margin-left: 0px;
  grid-row: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--shadow);
}

.footerLinks{
  display: block;
  margin: auto;
  height: auto;
  margin-left: 0px;
  grid-row: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--shadow);
}
.formContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: var(--background-start-rgb);
  border-radius: 25px;
  transition: .4s ease-in-out;
}


.listItem {

      margin: 2em;
      display: table;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      color: #c5c5c5;
      border: none;
}

.listItem:hover{
      color: #000000;

      transition: all 0.5s;
      transform: translateY(1px);
}

.listItem a{
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.nameLogo{
  margin: 1em;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  border: none;
}

.nameIcon{
  left: 0;
  /*color: transparent;*/
  background-color: #000000;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size:1.5rem;
  font-style: normal;
  line-height: 60px;
  /*text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

.navBar{
      position:fixed;
      display:grid;

      grid-auto-flow: column;
      list-style: none;
      text-decoration: none;
      column-gap: 1.5em;
      align-items: center;
      top:2em;
      right:3em;
      margin:0px;
      background: var(--background-end-rgb);
      /*box-shadow:  10px 10px 20px -10px var(--shadow),
                 -10px -10px 20px -1px var(--background-end-rgb);*/
      padding: 0px 32px;
      border-radius: 4rem;
}

.navContainer {
      display: flex;
      z-index: 5;
      text-align: center;
      width:100%;
      padding-bottom: 150px;

}

.upperCorner{
  position:fixed;
  width:auto;
  top:2em;
  left: 4em;
  margin:0px;
  justify-content: center;
  align-items: center;
}

.wordHighlightClickMe{
  --bg-size: 400%;
  --color-one: pink;
  --color-two: #16abff;
  --color-three:#cfffbd;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  background: linear-gradient(
                90deg,
                var(--color-one),

                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

.wordHighlightClickMe:hover{
  --bg-size: 400%;
  --color-one: pink;
  --color-two: #16abff;
  --color-three:#cfffbd;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  background: linear-gradient(
                90deg,
                var(--color-one),

                var(--color-two),
                var(--color-three),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

/* Mobile */
@media (max-width: 600px) {

  .footer{
    display: block;
  }

  .footerLinks{
    align-items: center;
    justify-content: center;

    margin-right: 1rem;
  }

  .footerLinks .a{
    margin-left: 10px;
  }

  .navBar{
    right:.5rem;
    column-gap: 1rem;
    padding: 0px 15px;
  }

  .upperCorner {
    left:1rem;
  }

}


/* Tablet */
@media (min-width: 600px) and (max-width: 800px){

  .footer{
    display: block;
  }

  .footerLinks{
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 1rem;

  }

  .footerLinks .a{
    margin-left: 10px;
  }

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
