.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.imageContainer {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
}

.code {
  font-weight: 700;
  font-family: var(--font-sans-serif-alt);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 24px;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: grid;
  margin-left: 0px;
  grid-row: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;

}

.logo {
  position: relative;
}

.navContainer {
      display: flex;
      text-align: center;
      width:100%;
      padding-bottom: 100px;

}

.listItem {

      margin: 2em;
      display: table;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      border: none;
}

.listItem:hover{
      box-shadow: inset 10px 10px 10px -1px rgba(197,197,197,0.2),
            inset -10px -10px 10px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(197,197,197,0.15),
            0px 12px 10px -10px rgba(197,197,197,0.05);
      border: 1px solid rgba(197,197,197,0.1);

      transition: all 0.5s;
      transform: translateY(1px);
}

.listItem a{
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.nameLogo{
  margin: 1em;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  border: none;
}


.navBar{
      position:fixed;
      display:grid;
      grid-auto-flow: column;
      list-style: none;
      text-decoration: none;
      column-gap: 1.5em;
      align-items: center;
      top:3em;
      left:2em;
      margin:0px;
      background: var(--background-end-rgb);
      box-shadow:  10px 10px 20px -10px var(--shadow),
                 -10px -10px 20px -1px var(--background-end-rgb);
      padding: 0px 32px;
      border-radius: 4rem;
}


.nameIcon{
  left: 0;
  color: transparent;
  background-color: #c5c5c5;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size:35px;
  font-style: normal;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

.wordHighlightPassion{
  --bg-size: 400%;
  --color-one: coral;
  --color-two: #16abff;
  font-size: 1rem;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: move-bg 8s infinite linear;
}

.wordHighlightClickMe{
  --bg-size: 400%;
  --color-one: pink;
  --color-two: #16abff;
  --color-three:#cfffbd;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  background: linear-gradient(
                90deg,
                var(--color-one),

                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

.wordHighlightSubtle:hover{
  --bg-size: 400%;
  --color-one: coral;
  --color-two: black;
  font-size: 1rem;
  background: linear-gradient(
                90deg,
                var(--color-two),
                var(--color-one),
                var(--color-two)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: move-bg 8s infinite linear;
}

.styleToggle {
      position:fixed;
      top:5em;
      right: 5em;
      margin:0px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: var(--text1);

}

.styleToggle-text {
  margin-left: 16px;
}


.toggle {
  position: fixed;
  top:4em;
  right: 3em;
  isolation: isolate;

  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px var(--background-end-rgb),
    8px 4px 12px 0px var(--shadow),
    4px 4px 4px 0px var(--shadow) inset,
    -4px -4px 4px 0px var(--background-end-rgb) inset;
}

.toggleState {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: var(--background-start-rgb);
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px var(--background-end-rgb),
    8px 4px 12px 0px var(--shadow);
}

.toggleState:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.sectionContainer{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sectionContainer2{
  width:100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  gap: 50px;
}

.section{
  width:928px;
  margin: auto;
  height: auto;
  padding-bottom: 6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 50px;
}

.introSection {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.projectSection {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: var(--max-width);
}

.aboutSection {
  padding-top: 60px;
  max-width: 100%;
  width: var(--max-width);
}

.aboutBlurb {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.footerContainer {
  width:100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  gap: 50px;
  padding: 60px;
}

.techLogos{
  color: transparent;
  border-radius: 30px;
  padding: 30px 0px;
}

.movementBar{
  width: 100vw;
  max-width:1280px;
  height: 128px;
  overflow: hidden;
  position: relative;
}

.track{
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: movementBar 40s linear infinite;
  display: flex;
  gap: 10px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 1rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes movementBar {
  0% {
    transform:translateX(0);
  }
  100% {
    transform:translateX(-50%);
  }

}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
