.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.aboutBlurb {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.bannerContainer {
  width:100%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: var(--background-end-rgb);
  box-shadow: 10px 10px 20px -10px var(--shadow),
             -10px -10px 20px -1px var(--background-end-rgb);
  gap: 50px;
}

.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1em;

  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.card {
  padding: 1rem 1.2rem;
  width: 450px;
  height:200px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 24px;
}

.card p {
  max-width: 100%;
  max-height:100%;
  margin: 0;
  opacity: 0.6;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.desc {
  display: grid;
  margin-left: 0px;
  grid-row: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footerContainer {
  width:100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--dimension);
  gap: 50px;
  padding: 60px;
}

.footer{
  background: var(--dimension);
}

.gradientBG{
  width:100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 30px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.imageContainer {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
}

.indicator {
  height: 100%;
  width: 200%;
  background: var(--background-start-rgb);
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px var(--background-end-rgb),
    8px 4px 12px 0px var(--shadow);
}

.listItem {

      margin: 2em;
      display: table;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      border: none;
}

.listItem:hover{
      box-shadow: inset 10px 10px 10px -1px rgba(197,197,197,0.2),
            inset -10px -10px 10px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(197,197,197,0.15),
            0px 12px 10px -10px rgba(197,197,197,0.05);
      border: 1px solid rgba(197,197,197,0.1);

      transition: all 0.5s;
      transform: translateY(1px);
}

.listItem a{
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.nameIcon{
  left: 0;
  color: transparent;
  background-color: #c5c5c5;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size:35px;
  font-style: normal;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

.nameLogo{
  margin: 1em;
  display: table;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  border: none;
}

.navBar{
      position:fixed;
      display:grid;
      grid-auto-flow: column;
      list-style: none;
      text-decoration: none;
      column-gap: 1.5em;
      align-items: center;
      top:3em;
      left:2em;
      margin:0px;
      background: var(--background-end-rgb);
      box-shadow:  10px 10px 20px -10px var(--shadow),
                 -10px -10px 20px -1px var(--background-end-rgb);
      padding: 0px 32px;
      border-radius: 4rem;
}

.navContainer {
      z-index:5;
      display: flex;
      text-align: center;
      width:100%;
      padding-bottom: 100px;

}

.project1 {

}

.projectSection {
  align-items: center;
  justify-content: center;
  background: var(--dimension);
  padding-top: 60px;
  max-width: 100%;
  width: var(--max-width);
}

.projectBlurb {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  width: var(--max-width);

  padding-bottom: 60px;

}

.section{
  width:928px;
  margin: auto;
  height: auto;
  padding-bottom: 6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 50px;
}

.styleToggle {
      position:fixed;
      top:5em;
      right: 5em;
      margin:0px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: var(--text1);

}

.styleToggle-text {
  margin-left: 16px;
}

.title{
  font-family: var(--font-sans-serif);
  font-weight: bold;
  font-size:35px;
  font-style: normal;
}

.toggle {
  position: fixed;
  top:4em;
  right: 3em;
  isolation: isolate;

  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px var(--background-end-rgb),
    8px 4px 12px 0px var(--shadow),
    4px 4px 4px 0px var(--shadow) inset,
    -4px -4px 4px 0px var(--background-end-rgb) inset;
}

.toggleState {
  display: none;
}

.toggleState:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.wordHighlightSubtle:hover{
  --bg-size: 400%;
  --color-one: coral;
  --color-two: black;
  font-size: 1rem;
  background: linear-gradient(
                90deg,
                var(--color-two),
                var(--color-one),
                var(--color-two)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: move-bg 8s infinite linear;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}


@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
